@import "../../../styles/variables";


main {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  height: 100px;
  background: #dbaca3;

  .logo-container{
    background: #dbaca3;
  }

  .text-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #dbaca3;

    a{
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img{
        height: 25px;
        width: 25px;
        background-color: #dbaca3;

      }
    }
    p{
      background-color: #dbaca3;
      color: #f0e6df;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    div {
      flex-grow: 1;
      height: 2px;
    }
  }
}

@media (min-width: 1120px) {

}


