@media (max-width: 767px) {
  .home-section {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../assets/png/home2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: end;

    button{
      position: fixed;
      z-index: 1;
      background: none;
      border: none;
      img{
        height: 70px;
        width: 70px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 30px;
    padding-top: 2rem;
    background: #f0e6df;
    color: #dbaca3;

    .apresentation-section {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        width: 50%;
        border: 2px solid #dbaca3;
        border-radius: 25px;
        margin-bottom: 2rem;
      }

      .apresentation-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        width: 90%;
        margin-bottom: 25px;

        h2 {
          width: 70%;
          text-align: center;
          padding-bottom: 3rem;
        }

        p {
          text-indent: 30px;
          width: 70%;
          text-align: justify;
          padding-bottom: 40px;

        }

        span {
          justify-content: left;
          margin: 20px;

          .prof-name {
            font-weight: 700;
          }

          .prof-description {
            margin-bottom: 5px;
          }
        }
      }
    }

      .cards-service-section {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #dbaca3;
        padding-top: 1rem;

        h2 {
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
          padding: 30px;
          font-size: 20px;
          background-color: #f0e6df;
          color: #dbaca3;
          margin-bottom: 20px;
        }

        .cards {
          display: flex;
          flex-direction: row;
          margin: 1rem;
          gap: 1rem;
        }
      }

      .cards-therapy-section {
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
          padding: 30px;
          font-size: 20px;
          text-align: center;
          background-color: #dbaca3;
          color: #f0e6df;
          margin: 20px;
        }

        .cards {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          padding-bottom: 1rem;
        }
      }


    .cards-depoimentos-section {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dbaca3;
      padding-top: 1rem;

       h2 {
         box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
         padding: 30px;
         font-size: 20px;
         background-color: #f0e6df;
         color: #dbaca3;
         margin: 20px;
         text-align: center;
       }

      .cards {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-bottom: 1rem;
      }
    }

    .contact-section {
      display: flex;
      width: 100%;
      background-color: #dbaca3;
      color: #f0e6df;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 15px;

      .writted-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .contact-container {
          padding-bottom: 1.2rem;

          .separador-container {
            width: 10rem;
            border: 1px solid #f0e6df;
          }

          .inter-container {
            a {
              outline: none;
              text-decoration: none;
              color: inherit;
            }

            .atendimento-description {
              font-weight: 500;
            }

            span.name {
              font-size: 22px;
            }

            img {
              width: 24px;
              height: 24px;
              padding-right: 5px;
            }

            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          }
        }
      }

      .img-container {
        visibility: hidden;

        img {
          width: 1px;
          height: 1px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {
  .home-section {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/png/home-desktop3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f0e6df;

    display: flex;
    justify-content: end;
    align-items: end;

    button {
      position: fixed;
      z-index: 1;
      padding-right: 1rem;

      background: none;
      border: none;

      img {
        height: 70px;
        width: 70px;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 2rem;
    background: #f0e6df;

    .apresentation-section {
      display: flex;
      width: 80%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #dbaca3;

      img {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        width: 80%;
        border: 2px solid #dbaca3;
        border-radius: 25px;
        margin-bottom: 2rem;
      }

      .apresentation-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        width: 90%;
        margin-bottom: 25px;

        h2 {
          width: 70%;
          text-align: center;
          padding-bottom: 3rem;
        }

        p {
          text-indent: 30px;
          width: 70%;
          text-align: justify;
          padding-bottom: 20px;
          font-size: 12px;
        }

        .prof-section {
          justify-content: start;
          align-items: start;
          text-align: start;

          .prof-name {
            font-weight: 700;
          }

          .prof-description {
            margin-bottom: 5px;
          }
        }
      }
    }

    #services {
      display: flex;
      height: auto;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dbaca3;
      padding: 3rem;

      h2 {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 30px;
        background-color: #f0e6df;
        color: #dbaca3;
        margin-bottom: 20px;
      }

      .cards {
        display: flex;
        flex-direction: row;
        .card{
          display: flex;
          flex-direction: row;
        }
      }
    }

    #therapy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-block: 3rem;

      h2 {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 30px;
        background-color: #dbaca3;
        color: #f0e6df;
        margin-bottom: 20px;
      }

      .cards {
        display: flex;
        flex-direction: row;
        .card{
          display: flex;
          flex-direction: row;
        }
      }
    }

    #testimonials {
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #dbaca3;
      padding: 3rem;

      h2 {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 30px;
        background-color: #f0e6df;
        color: #dbaca3;
        margin-bottom: 20px;
      }

      .cards {
        display: flex;
        flex-direction: row;

        .card{
          display: flex;
          flex-direction: row;
        }
      }
    }

    .contact-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #dbaca3;
      color: #f0e6df;
      width: 100%;
      height: 55vh;
      gap: 7rem;

      .writted-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact-container {
          width: 25%;
          padding-bottom: 1rem;

          .separador-container {
            width: 25rem;
            border: 1px solid #f0e6df;
          }

          .inter-container {
            a {
              outline: none;
              text-decoration: none;
              color: inherit;
            }

            .atendimento-description {
              font-weight: 500;
            }

            span.name {
              font-size: 20px;
            }

            img {
              width: 24px;
              height: 24px;
              padding-right: 5px;
            }

            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
          }
        }
      }

      .img-container {
        width: 40%;

        img {
          border: 2px solid #f0e6df;
          border-radius: 15px;
          height: 50vh;
          width: 50%;
        }
      }
    }
  }
}


