<section id="section1" class="home-section">
  <button class="whatsapp-button">
    <a
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5521988249268&text=Olá, Ciomara! Vi seu site e gostaria de saber mais sobre seu trabalho."
      rel="noopener noreferrer"
      aria-label="Entre em contato pelo WhatsApp"
    >
      <img
        src="https://img.icons8.com/?size=100&id=30448&format=png&color=000000"
        alt="Ícone do WhatsApp"
      />
    </a>
  </button>
</section>

<app-header
  primaryBtnText="Home"
  secondaryBtnText="Sobre"
  tertiaryBtnText="Atendimentos"
  quaternaryBtnText="Contato"
  quinaryBtnText="Depoimentos"
  senaryBtnText="Conheça a TRG"
  septnaryBtnText="Serviços"
  (navigate)="navigateTestimonials()"
  (navigate)="navigateService()"
  (navigate)="navigateBlog()"
></app-header>

<main>
  <div id="section2" class="apresentation-section">
    <div class="img-apresentantion">
      <img
        src="assets/png/apresentation-photo1.jpeg"
        alt="Foto de apresentação"
      />
    </div>
    <div class="apresentation-text">
      <h2>Bem-vindo ao meu consultório, aqui você será bem acolhido!</h2>
      <p>
        Bem-vindo ao seu espaço de cura emocional. Aqui, você encontrará um ambiente seguro e acolhedor para explorar e transformar suas emoções.
        Sou Ciomara Osterno, terapeuta especializada em Terapia de Reprocessamento Generativo (TRG), focada em ajudá-lo a superar conflitos emocionais
        e a descobrir uma versão mais saudável e plena de si mesmo.
      </p>

      <p>
        Tenho uma sólida formação em Letras – Licenciatura Plena pela UECE (Universidade Estadual do Ceará), e sou pós-graduada em Psicopedagogia Clínica
        e Institucional pela Universidade Vale do Acaraú (UVA). Além disso, sou certificada como Terapeuta de Alta Performance Mental (TAPM) pela UNIFAST.
        Minha especialização em Transtornos Emocionais, Leitura Corporal e Comportamental pelo Instituto Brasileiro de Formação de Terapeutas (IBFT)
        me permite oferecer uma abordagem terapêutica profunda e eficaz.
      </p>

      <p>
        A Terapia de Reprocessamento Generativo é uma terapia breve, focada na resolução de problemas emocionais e psicossomáticos, atuando diretamente
        nas raízes de traumas, fobias, compulsões, ansiedade, depressão e crises de pânico. Meu compromisso é guiar você no processo de libertação emocional,
        proporcionando o suporte necessário para que alcance o equilíbrio e a paz interior.
      </p>

      <p>
        Neste espaço, você encontrará ferramentas e conteúdos que contribuirão para o seu desenvolvimento pessoal. Não se esqueça de me seguir nas redes sociais,
        onde compartilho mais insights e reflexões sobre a jornada de cura emocional. Estou aqui para ajudá-lo a trilhar um caminho de transformação e bem-estar.
      </p>
      <div class="prof-section">
        <div class="prof-name">
          Ciomara O. Martins
        </div>
        <div class="prof-description">
          Terapeuta Emocional - TRG
          <br />
          CITRG: 10.952
        </div>
      </div>
    </div>
  </div>

  <div id="section3" class="cards-section">
    <h2>Atendimentos</h2>
    <ul>
      <li>
        <app-card
          title="Autoestima e Autoconfiança"
          description=
            "Fortaleça sua autoestima e autoconfiança. Através de técnicas de autoconhecimento, você irá resgatar seu valor pessoal, desenvolver segurança para enfrentar desafios e viver com mais autenticidade."
        ></app-card>
      </li>
      <li>
        <app-card
          title="Burnout"
          description="
          O burnout é o esgotamento emocional e físico causado pelo estresse excessivo. Nas sessões, trabalhamos juntos para identificar as causas e desenvolver estratégias para restaurar seu equilíbrio emocional."
        ></app-card>
      </li>
    </ul>
    <ul>
      <li>
        <app-card
          title="Síndrome do Pânico"
          description="
          A síndrome do pânico envolve crises de ansiedade intensas e inesperadas. Com técnicas de reprocessamento emocional, ajudo você a entender e gerenciar os gatilhos para melhorar sua qualidade de vida."
        ></app-card>
      </li>
        <li>
      <app-card
        title="Crise Conjugal"
        description="A crise conjugal pode distanciar casais emocionalmente. Através de sessões terapêuticas, busco criar um ambiente seguro para comunicação eficaz, resgatando a conexão e fortalecendo a relação."
      ></app-card>
      </li>
    </ul>
  </div>

  <div id="section4" class="contact-section">
    <div class="writted-container">

      <div class="contact-container">
        <div class="inter-container">
          <span class="name">
             Ciomara O. Martins
          </span>
        </div>
        <div class="inter-container">
          Terapeuta Emocional - TRG
          CITRG: 10.952
        </div>
      </div>

      <div class="contact-container">
        <div class="inter-container">
          <img src="https://img.icons8.com/?size=100&id=85088&format=png&color=f0e6df">
            <a
              target="_blank"
              href="https://api.whatsapp.com/send?phone=5521988249268&text=Olá, Ciomara! Vi seu site e gostaria de saber mais sobre seu trabalho."
            >21 98824926</a>
        </div>
        <div class="inter-container">
          <img src="https://img.icons8.com/?size=100&id=86840&format=png&color=f0e6df">
        </div>
        <div class="inter-container">
          <img src="https://img.icons8.com/?size=100&id=85154&format=png&color=f0e6df">
          <a href="https://www.instagram.com/maraterapiaonline">
            maraterapiaonline
          </a>
        </div>
      </div>
      <div class="contact-container">
      </div>
      <div class="contact-container">
        <div class="inter-container">
          <span class="atendimento-description">Atendimento Exclusivamente Online</span>
        </div>
        <div class="inter-container">
          <img src="https://img.icons8.com/?size=100&id=59790&format=png&color=f0e6df">
          <span>Niterói - Rio de Janeiro</span>
        </div>
        <div class="inter-container">
          <span>Plataforma: Google Meet</span>
        </div>
      </div>
      <div class="contact-container">
        <div class="separador-container"></div>
      </div>
      <div class="contact-container">
        <div class="inter-container">
          <img src="https://img.icons8.com/?size=100&id=82767&format=png&color=f0e6df">
          <span> Segunda a Quinta-feira</span>
        </div>
        <span> Somente com hora marcada</span>
      </div>
      <div class="contact-container">
        <div class="separador-container"></div>
      </div>
    </div>
    <div class="img-container">
      <img src="assets/png/home-desktop.png">
    </div>
  </div>
</main>

<app-footer></app-footer>
