ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #dbaca3;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #f0e6df;
  p {
    text-align: justify;
  }
  img {
    color: white;
  }
}

