<main>
  <section class="header-section">
    <img src="assets/png/logo.jpg">
    <div class="button-homepage">
      <button (click)="navigateHome()"> {{ primaryBtnText }} </button>
      <button (click)="navigateAbout()">{{ secondaryBtnText }}</button>
      <button (click)="navigateServices()">{{ tertiaryBtnText }}</button>
      <button (click)="navigateTestimonials()">{{ quaternaryBtnText }}</button>
      <button (click)="navigateContact()">{{ quinaryBtnText }}</button>
      <button (click)="navigateBlog()"> {{ senaryBtnText }} </button>
    </div>
  </section>

  <div class="divider"><div></div></div>
</main>
