<main>
  <section class="header-section">
    <mat-toolbar class="desktop-menu">
      <div class="logo-header">
        <button mat-menu-item (click)="handleButtonClick('section1')">
          <img src="assets/svg/logo1.png">
        </button>
      </div>
      <div class="buttons-header">
        <button mat-button (click)="handleButtonClick('home')" > {{ primaryBtnText }} </button>
        <button mat-button (click)="handleButtonClick('about')"> {{ secondaryBtnText }} </button>
        <button mat-button (click)="handleButtonClick('services')"> {{ tertiaryBtnText }} </button>
        <button mat-button (click)="handleButtonClick('therapy')"> {{ quaternaryBtnText }} </button>
        <button mat-button (click)="handleButtonClick('testimonials')"> {{ quinaryBtnText }} </button>
        <button mat-button *ngIf="isAboutPage" (click)="handleButtonClick('contact')"> {{ senaryBtnText }} </button>
      </div>
    </mat-toolbar>

    <mat-toolbar class="mobile-menu">
      <div class="logo-header">
        <button mat-menu-item [routerLink]="['/about']" fragment="section1">
          <img src="assets/svg/logo1.png">
        </button>
      </div>
      <div class="menu-header">
        <button mat-button [matMenuTriggerFor]="menu">
          <img src="https://img.icons8.com/?size=100&id=82749&format=png&color=f0e6df">
        </button>
      </div>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="handleButtonClick('about')"> {{ primaryBtnText }} </button>
      <button mat-menu-item (click)="handleButtonClick('services')"> {{ secondaryBtnText }} </button>
      <button mat-menu-item (click)="handleButtonClick('testimonials')"> {{ tertiaryBtnText }} </button>
      <button mat-menu-item (click)="handleButtonClick('blog')"> {{ quaternaryBtnText }} </button>
      <button mat-menu-item (click)="handleButtonClick('section5')"> {{ quinaryBtnText }} </button>
      <button mat-menu-item (click)="handleButtonClick('section6')"> {{ senaryBtnText }} </button>
    </mat-menu>
  </section>

  <div class="divider"><div></div></div>
</main>
