@import "../../../styles/variables";

.header-section {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20rem;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background: #dbaca3;

  img {
    width: 65px;
    height: 50px;
    background: #dbaca3;
  }

  .button-homepage{
    display: flex;
    gap: 10px;
    background: #dbaca3;
  }
  button{
    font-size: 14px;
    background-color: #dbaca3;
    padding: 10px;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
  }

  button:hover {
    opacity: 0.5;
    text-decoration: black;
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;

  div {
    flex-grow: 1;
    height: 2px;
    background-color: $gray-bg;
  }
}

