<app-header
  title="Mara Psicopedagoga"
  subtitle="Bem-vindo ao site da Mara!"
  text="Site para direcionamento de pacientes"
  primaryBtnText = "Home"
  secondaryBtnText = "Sobre"
  tertiaryBtnText = "Serviços"
  quaternaryBtnText = "Contato"
  quinaryBtnText = "Depoimentos"
  senaryBtnText = "Blog"
  (navigate)="navigateHome()"
  (navigate)="navigateAbout()"
  (navigate)="navigateServices()"
  (navigate)="navigateContact()"
  (navigate)="navigateTestimonials()"
  (navigate)="navigateBlog()"
></app-header>
<main>
  <div class="apresentation-section">
    <div class="img-apresentantion">
      <img src="assets/png/apresentation-photo1.jpeg" alt="logo">
    </div>
    <div class="apresentation-text">
      <h2>Bem-vindo ao meu consultório, aqui você será bem acolhido!</h2>
      <p>A Jornada da Terapia Emocional" oferece uma reflexão profunda sobre
        o poder da autoexploração e o impacto do cuidado emocional no bem-estar.
        A obra explora como a terapia emocional ajuda as pessoas a compreenderem
        suas emoções, superarem traumas e desenvolverem resiliência diante dos desafios da vida.
        Com exemplos práticos e depoimentos reais, o autor destaca a importância de criar um espaço seguro
        para expressar sentimentos, reconhecendo que o crescimento emocional é um processo contínuo.
        Uma leitura esclarecedora para quem deseja entender mais sobre si mesmo e melhorar sua saúde mental por meio da terapia.
      </p>
      <span>
        <div class="prof-name">
          Ciomara Osterno
        </div>
        <div class="prof-description">
          Terapeuta Emocional
        </div>
        <div>
          <button (click)="navigateAbout()">{{ AboutButtonText }}</button>
        </div>
      </span>
    </div>
  </div>
  <div class="cards-section">
    <h2>
      Atendimentos
    </h2>
    <li>
      <ul>
        <app-card
          title="Sentido, Mudança e Direção"
          description="
          Através de sessões Online você terá todo o apoio, sigilo e seguranra para receber o tratamento que precisa e merece.
          Buscar sentido em meio ao nada é o que vou te ajudar a fazer, para encontrar a mudança que você precisa e ter a direção
          que é necessário para sua vida."
        ></app-card>
      </ul>
      <ul>
        <app-card
          title="Sentido, Mudança e Direção"
          description="
          Através de sessões Online você terá todo o apoio, sigilo e seguranra para receber o tratamento que precisa e merece.
          Buscar sentido em meio ao nada é o que vou te ajudar a fazer, para encontrar a mudança que você precisa e ter a direção
          que é necessário para sua vida."
        ></app-card>
      </ul>
    </li>
    <li>
      <ul>
        <app-card
          title="Sentido, Mudança e Direção"
          description="
          Através de sessões Online você terá todo o apoio, sigilo e seguranra para receber o tratamento que precisa e merece.
          Buscar sentido em meio ao nada é o que vou te ajudar a fazer, para encontrar a mudança que você precisa e ter a direção
          que é necessário para sua vida."
        ></app-card>
      </ul>
      <ul>
        <app-card
          title="Sentido, Mudança e Direção"
          description="
          Através de sessões Online você terá todo o apoio, sigilo e seguranra para receber o tratamento que precisa e merece.
          Buscar sentido em meio ao nada é o que vou te ajudar a fazer, para encontrar a mudança que você precisa e ter a direção
          que é necessário para sua vida."
        ></app-card>
      </ul>
    </li>
  </div>
  <div class="address-section">
    <h2>
      Atendimento online e presencial
    </h2>
    <div class="list-section">
      <li>
        <div class="address-container">
          <img src="https://img.icons8.com/?size=100&id=2436&format=png&color=000000">
          <ul> Presencial: Niterói - Rio de Janeiro </ul>
        </div>
        <div class="address-container">
          <img src="https://img.icons8.com/?size=100&id=CTL6fNPxvJku&format=png&color=000000">
          <ul> Online: Google Meet </ul>
        </div>
        <div class="address-container">
          <img src="https://img.icons8.com/?size=100&id=RhkKQFp4TrwF&format=png&color=000000">
          <ul> Horários: Segunda a Sexta-feira, 8 as 20 h </ul>
        </div>
        <div class="address-container">
          <img src="https://img.icons8.com/?size=100&id=23&format=png&color=000000">
          <ul> Somente com hora marcada </ul>
        </div>
      </li>
    </div>
    <span></span>
  </div>

</main>
<app-footer></app-footer>
