<app-header
  primaryBtnText="Home"
  secondaryBtnText="Sobre"
  tertiaryBtnText="Atendimentos"
  quaternaryBtnText="Terapias"
  quinaryBtnText="Depoimentos"
  serviceAnaliseCorporalBtnText="Análise Corporal"
  serviceHipnoterapiaBtnText="Hipnoterapia"
  serviceTravasMentaisBtnText="Travas Mentais"
  serviceTrgBtnTxt="TRG"
></app-header>
<main>
  <h2>Atendimentos Terapêuticos</h2>
  <div class="resenha-section">
    <div class="photo-resenha">
      <img src="assets/png/apresentation-photo1.jpeg">
    </div>
    <div class="text-resenha">
      Nas minhas sessões terapêuticas, abordo uma variedade de temas que afetam diretamente o bem-estar emocional e psicológico dos meus pacientes. Entre os principais focos de atendimento estão questões relacionadas à autoestima e autoconfiança, gerenciamento do estresse e esgotamento emocional, como no caso do burnout, além de transtornos de ansiedade, como a síndrome do pânico. Também ofereço suporte em crises conjugais, ajudando os casais a enfrentar desafios de comunicação e fortalecer suas conexões. Através de técnicas que promovem o autoconhecimento, o reequilíbrio emocional e o resgate de padrões saudáveis, busco criar um espaço seguro para o crescimento pessoal e relacional.
    </div>
  </div>
  <div class="service-container">
    <div class="inter-container">
      <h2>Autoestima e autoconfiança:</h2>
      <p>A autoconfiança e a autoestima estão intimamente ligadas, mas cada uma desempenha um papel diferente no nosso bem-estar. A autoconfiança é a crença em nossa capacidade de realizar tarefas e enfrentar desafios, enquanto a autoestima reflete o valor que atribuímos a nós mesmos, independentemente das circunstâncias.

        Através das sessões, trabalho para ajudar você a fortalecer tanto a autoconfiança quanto a autoestima, utilizando técnicas que promovem o autoconhecimento e o desbloqueio de padrões limitantes. Juntos, vamos resgatar o seu valor pessoal e desenvolver a segurança necessária para lidar com desafios, tomar decisões assertivas e viver com mais autenticidade e equilíbrio.</p>
    </div>
    <div class="inter-container">
      <h2>Burnout:</h2>
      <p>O burnout é uma condição de esgotamento físico e emocional causada pelo excesso de estresse e sobrecarga, especialmente relacionada ao trabalho. Ele se manifesta através de sintomas como cansaço extremo, falta de motivação, irritabilidade e dificuldade de concentração, tornando as demandas do dia a dia insuportáveis.Através das sessões, ajudo você a identificar as causas do burnout e a trabalhar em estratégias de reequilíbrio emocional.</p>
    </div>
    <div class="inter-container">
      <h2>Síndrome do Pânico:</h2>
      <p>A síndrome do pânico é um transtorno de ansiedade caracterizado por crises inesperadas de medo intenso, acompanhadas de sintomas físicos como taquicardia, falta de ar, tontura e sensação de perda de controle. Essas crises podem ocorrer sem motivo aparente, gerando um medo constante de que um novo ataque aconteça, o que pode impactar significativamente a qualidade de vida.
        Através das sessões, trabalho para ajudar você a entender e gerenciar os gatilhos da síndrome do pânico. Utilizando técnicas que promovem o reprocessamento emocional.</p>
    </div>
    <div class="inter-container">
      <h2>Crise conjugal:</h2>
      <p>A crise conjugal é um momento de tensão e desgaste na relação, muitas vezes marcado por conflitos frequentes, distanciamento emocional e dificuldades de comunicação. Ela pode ser provocada por diversos fatores, como mudanças na vida familiar, estresse, falta de tempo, ou expectativas não atendidas, levando o casal a se sentir desconectado e insatisfeito.
        Através das sessões, ajudo a identificar os principais desafios enfrentados pelo casal, trabalhando em estratégias de comunicação mais eficazes e no resgate da conexão emocional. O objetivo é promover um espaço seguro para que ambos possam se expressar, entender as necessidades um do outro e reencontrar um caminho para fortalecer a relação com mais equilíbrio e respeito.</p>
    </div>

  </div>



</main>
<app-footer></app-footer>
